* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: Arial, "Microsoft Yahei";
}
i,
span {
  display: inline-block;
  vertical-align: middle;
}
button,
input,
select,
option,
textarea,
pre {
  font-size: inherit;
  font-family: inherit;
}
textarea {
  resize: none;
}
ul,
li,
dl,
dt,
dd {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}
a,
label,
:focus {
  outline: 0 none;
}
label {
  vertical-align: middle;
}
img {
  border: 0;
  vertical-align: middle;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.tab-panel {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 50px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}